.shippers-parent-div {
  height: 100vh;
  width: 100%;
  background-color: #283046;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: "Montserrat";
}

/* ACTIONS DIV STYLING */

.shippers-actions-div,
.shippers-list-div {
  background-color: white;
  padding: 12px;
  width: 95%;
  border-radius: 8px;
  margin: 8px;
  display: flex;
}

.search-div {
  flex: 2 !important;
}

.shippers-actions-div div {
  flex: 1;
  display: flex;
}

.search-div input {
  margin-right: 12px;
  font-family: "Montserrat";
  width: 60%;
  padding: 6px;
  border: 0.05px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.shippers-actions-div button {
  color: white;
  background-color: #283046;
  border: 1px solid #283046;
  width: 30%;
  padding: 10px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 6px;
  transition: 0.2s ease;
}
.shippers-actions-div button:hover {
  cursor: pointer;
  background-color: #536391;
  border-color: #536391;
}

.sort-div {
  flex: 2 !important;
  display: flex;
  justify-content: space-around;
}

.add-shipper-div {
  display: flex;
  justify-content: flex-end;
}

.add-shipper-div button {
  width: 50%;
  background-color: #5bb318;
  border: none;
}

.add-shipper-div button:hover {
  background-color: #519b18;
}

/* LIST STYLING */

.shippers-list-div {
  flex-direction: column;
}

.shippers-list-header {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 2px;
  padding-bottom: 8px;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}

.shippers-list-header div {
  flex: 1;
  margin-left: 10px;
  border-right: 0.2px solid rgba(0, 0, 0, 0.3);
}

.shippers-list-header div:last-child {
  border: none;
}

.shippers-list-items-div {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}

.shippers-list-item {
  display: flex;
  text-align: left;
  padding: 8px;
  margin: 4px;
}

.shippers-list-item div {
  flex: 1;
}

.shipper-view-btn,
.shipper-delete-btn {
  width: 90%;
  margin-left: 5%;
  border: none;
  padding: 8px;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s ease;
  cursor: pointer;
}

.shipper-view-btn {
  background-color: #5bb318;
}

.shipper-view-btn:hover {
  background-color: #519b18;
}

.shipper-delete-btn {
  background-color: #ff4a4a;
}

.shipper-delete-btn:hover {
  background-color: #aa1d1d;
}
/* Modal styling */
.add_btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.add_btn button{
  background-color: #519b18;
  padding: 5px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  color:white;
}
.delete_btn{
  background-color: #FF4A4A!important;
}
/* Single Shipper Page Styling*/
.shipper_h1{
  color:black;
  font-weight: 600;
  margin: 20px 0px;
}
.single-shipper{
background-color: white;
  padding: 12px;
  width: 95%;
  border-radius: 8px;
  margin: 16px;
}
.details_main{
  
  display: flex;
}
.details_left{
  display: flex;
  min-height: 80vh;
  border-right: 1px solid rgb(213, 213, 213);
  padding:100px 40px;
  position: relative;
  flex:0.5;
  justify-content: center;
}
.details_left h3{
  position: absolute;
  top:50px;
  font-weight: 600;
}
.d1{
margin-top: 30px;
}
.d2{
  margin-top: 30px;;
}
.d1 p{
  font-size: 20px;
  text-align: left;
  margin-right: 30px;
  line-height: 40px;
}
.d2 p{
  font-size: 20px;
  text-align: left;
    line-height: 40px;
}
.shipper_edit{
  position: absolute;
  top:50px;
  right:60px;
  font-size: 26px;
  cursor: pointer;
}
.details_right{
  flex:0.5;
  padding:50px 40px;
  position: relative;
}
.details_right h3{
  font-weight: 600;
}
.addCost_btn{
  position: absolute;
  top:45px;
  right:20px;
  padding:5px 10px;
  border-radius: 8px;
   border: 2px solid #283046;
  background-color: #283046;
  color:white;
  transition: all .3s;
   font-weight: 600;
}
.addCost_btn:hover{
  background-color: transparent;
  border: 2px solid #283046;
  color: #283046;
  font-weight: 600;
}
.cost_details{
  max-height: 420px;
  overflow-y: scroll;
  margin-top: 20px;
}
.cost_div{
  margin-top:40px;
  text-align: left;
  position: relative;
  
}
.cost_div p{
  margin-right: 20px;
  margin-top: 20px;
}
.delete-icon{
  position: absolute;
  right:30px;
  font-size: 24px;
}