.dashboard-main {
  display: flex;
  height: 100vh;
  width: 100%;
}

.dashboard-sidebar {
  width: max-content;
  padding: 20px;
}

.dashboard-content {
  width: 100%;
  background-color: #283046;
}
